spring:
  profiles:
    active: dev

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

  jpa:
    properties:
      hibernate:
        format_sql: true

konghome:
  jwt:
    secret: "change-this-to-a-very-long-random-secret-key-please"
    access-exp-min: 30
    refresh-exp-days: 7

server:
  port: 8080
  address: 0.0.0.0
