spring:
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

  jpa:
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
  forward-headers-strategy: native
